<div class='blog-content'>
  <h2><%= link_to blog.title.upcase, blog, :class => 'blog-title' %></h2>
  <h6 class='published-date'>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</h6>

  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>

  <div>
    <%= truncate((blog.body), length: 1200, escape: false, class: 'ckeditor') %>
    <%= link_to "Continue reading", blog %>
  </div>

  <!-- <h3 class='blog-text'><%= blog.body %></h3> -->
</div>            
