<div>

  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Blogs', blogs_path %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic) %>
    <span><%= @blog.title %></span>

    <span>
      <%= link_to fa_icon('pencil-square-o'),edit_blog_path(@blog) if logged_in?(:site_admin) %> 
      <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post?'} if logged_in?(:site_admin) %> 
    </span>
  </nav>

  <h2><%= @blog.title %></h2>

  <p><%= @blog.topic.title %></p>

  <p>
    <%= markdown @blog.body %>
  </p>

  <%= render 'comments/comment_form' %>

  <div>
    <%= render @blog.comments %>
  </div>

</div>




