<div class='portfolio-show-layout'>
  <div class='portfolio-show-content'>
    <div class='portfolio-container'>
      <div>
        <%= image_tag portfolio_img(@portfolio_item.thumb_image, 'main'), width: 450 %>
      </div>

      <div class='portfolio-show-details'>  
        <h1 class='portfolio-title'><%= @portfolio_item.title %></h1>

        <em class='portfolio-subtitle'><%= @portfolio_item.subtitle %></em>
        <h6 class='portfolio-work-type'><%= @portfolio_item.work_type %></h6>

        <h4 class='portfolio-body'><%= @portfolio_item.body %></h4>

        <h3 class='portfolio-title'>Technologies Used:</h3>
        <div class='portfolio-subtitle'>
        <% @portfolio_item.technologies.each do |t| %>
          <p><%= t.name %></p>
        <% end %>
        </div>

        <div>
          <% if logged_in?(:site_admin) %>
            <div class='button-form'>
              <%= link_to 'Edit Item', edit_portfolio_path(@portfolio_item) %>
            </div>
            <br>
            <div class='button-form'>
              <%= link_to "Delete Item", @portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>