

<div class="footer">
  <div id="button">Contact Me</div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
         <!-- <h3>Phone: <a href='tel:3853120520' class='contact'><%#= number_to_phone '3853120520' %></a></h3> -->
         <h3> Email: <a href='mailto:jhallnation@gmail.com' target='_self' class='contact'>jhallnation@gmail.com</a></h3>
         <br>
<!--          <%#= link_to 'Need your own website?', jhall_dev_path, class: 'contact' %>
         <br> -->
         <h5><%= copyright_generator %></h5>
              <div class='social'><a href='https://github.com/jhallnation'><%= fa_icon "github" %></a>
              <a href='https://www.facebook.com/jhalldev/'><%= fa_icon "facebook" %></a>
              <a href='https://twitter.com/jhallnation'><%= fa_icon "twitter" %></a>
              <a href='https://www.instagram.com/jhallnation/'><%= fa_icon "instagram" %></a>
            </div>
      </div>
    </div>
  </div>
</div>