

<div class="footer">
  <div id="button">Contact Me</div>
    <div id="container">
      <div id="cont">
      <div class="footer_center">
         <h3>You can call or text <a href='tel:3853120520' class='contact'><%= number_to_phone '3853120520' %></a> or send an email to <a href='mailto:jhallnation@gmail.com' target='_self' class='contact'>jhallnation@gmail.com</a></h3>
         <br>
         <p>Need your own website? Visit my business site at <a href='http://www.jhalldev.tech' class='contact'>jhalldev.tech</a></p>
         <br>
         <h5><%= copyright_generator %></h5>
              <div class='social'><a href='https://github.com/jhallnation'><%= fa_icon "github" %></a>
              <a href='https://www.facebook.com/jhalldev/'><%= fa_icon "facebook" %></a>
              <a href='https://twitter.com/jhallnation'><%= fa_icon "twitter" %></a>
              <a href='https://www.instagram.com/jhallnation/'><%= fa_icon "instagram" %></a>
            </div>
      </div>
    </div>
  </div>
</div>